<?xml version='1.0' encoding='utf-8'?>
<widget id="com.libern.ziyuanmao" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>资源猫</name>
    <description>
        资源搜索神器
    </description>
    <author email="libernlin@gmail.com" href="http://cordova.io">
        Libern
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="res/icon.png" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/mdpi/icon.png" density="mdpi" />
        <icon src="res/android/hdpi/icon.png" density="hdpi" />
        <icon src="res/android/xhdpi/icon.png" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
